<div class="">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Name</th>
      <th>RSVP</th>
      <th>Unique Code</th>
      <th>Actions</th>
    </tr>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.rsvp %></td>
        <td><%= guest.unique_code %></td>
        <td><%= link_to "View", guest_path(guest), class: "btn btn-primary btn-sm"%>
            <%= link_to "Delete", guest_path(guest), method: :delete,
                    data: {confirm: "Are you sure you want to delete this guest?"},
                    class: "btn btn-danger btn-sm"%></td>
      </tr>
    <% end %>
  </table>
</div>
