<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An Invitation has been updated</h1>
    <h4><%= pluralize(@invitation.guests.count, "Guest") %>:</h4>
    <ol>
      <% @invitation.guests.each do |i| %>
        <li><%= i.name %></li>
      <% end %>
    </ol>
    <p>
      <% if @invitation.guests.count > 1 %>
        They are <%= @invitation.rsvp.downcase %> your wedding!
      <% else %>
        Is <%= @invitation.rsvp.downcase %> your wedding!
      <% end %>
    </p>
    <p>
      View the invitation details in full <%= link_to "here.", @url %>
    </p>
  </body>
</html>
