<%= render "shared/errors", obj: @invitation %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= render "shared/page_title", title: "Invitation" %>
    <div>
      <h4><%= pluralize(@invitation.guests.count, "Guest") %>:</h4>
      <ol>
        <% @invitation.guests.each do |g| %>
          <li><%= g.name %></li>
        <% end %>
      </ol>
      <hr
    </div>
    <div>
      <%= form_for @invitation do |f| %>
        <div class="">
          <div class="radio col-md-11 col-md-offset-1">
            <%= f.radio_button(:rsvp, "Attending") %>
            <%= f.label(:rsvp, "Attending") %>
          </div>
          <div class="radio col-md-11 col-md-offset-1">
            <%= f.radio_button(:rsvp, "Not Attending") %>
            <%= f.label(:rsvp, "Not Attending") %>
          </div>
        </div>
        <div class="form-group">
          <p>If you provide an email address we can send you a reminder closer to the date</p>
          <div class="control-label col-md-3">
            <%= f.label(:email, "Email Address:") %>
          </div>
          <div class="col-md-9">
            <%= f.email_field(:email) %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">
            <%= f.label(:comments, "Additional Info:") %>
          </div>
          <div class="">
            <%= f.text_area(:comments, rows: 5, class: "form-control") %>
          </div>
          <hr>
        </div>
        <div class="col-md-4">
          <%= f.submit("RSVP", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
