<%= render "shared/errors", obj: @invitation %>
<h1><%= pluralize(@invitation.guests.count, "Guest") %>:</h1>
<% @invitation.guests.each do |g| %>
  <p><%= g.name %></p>
<% end %>


<%= form_for @invitation do |f| %>
  <%= f.radio_button(:rsvp, "Attending") %>
  <%= f.label(:rsvp, "Attending") %>
  <%= f.radio_button(:rsvp, "Not Attending") %>
  <%= f.label(:rsvp, "Not Attending") %>
  <%= f.submit %>
<% end %>
