<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= render "shared/page_title", title: "Invitation" %>
    <div class="">
      <h4><%= pluralize(@invitation.guests.count, "Guest") %>:</h4>
      <ol>
        <% @invitation.guests.each do |i| %>
          <li><%= i.name %> <%= link_to "Delete", invitation_guest_path(i), method: :delete,
                  data: {confirm: "Are you sure you want to delete this guest?"},
                  class: "btn btn-danger btn-xs"%></li>
        <% end %>
      </ol>
      <hr>
    </div>
    <div class="">
      <h5>RSVP Status:</h5>
      <p><%= @invitation.rsvp %></p>
      <hr>
    </div>
    <% if @invitation.email != nil %>
    <div class="">
      <h5>Email:</h5>
      <p><%= @invitation.email %></p>
      <hr>
    </div>
    <% end %>
    <% if @invitation.comments != nil %>
    <div class="">
      <h5>Additional Info:</h5>
      <p><%= @invitation.comments %></p>
    </div>
    <% end %>
    <div class="">
      <%= link_to "Add Guest", new_invitation_guest_path(@invitation), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>
